@charset "UTF-8";
/*Fonte bebas do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Colocando uma fonte dos arquivos*/
@font-face{
    font-family: 'Android';
    src: url("../pacote-projeto-d010/fontes/idroid.otf") format('opentype');
    font-weight: normal;
}

/*      Variaveis       */
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --font-android:"Android", cursive;
}

/*      Configurações Gerais        */

* {  
    margin:0px;
    padding:0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
    margin:0px;
}

a.externo::after{
    content: '\1F517';
}

/*      Cabeçalho       */

header{
    background-image: linear-gradient(360deg, var(--cor5),var(--cor3));
    text-align: center;
    padding-top:30px;
    height: 150px;
}

header > h1 {
    color: white;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.747);
}

header > p{
    font-family: var(--fonte-padrão);
    font-size:1.2em;
    color:white;
    max-width: 600px;
    padding: 0px 10px;
    margin:auto;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.747);

}

nav{
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.685);
    text-align: left;
    padding: 10px;
}

nav > a{
    color:var(--cor1);
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    padding:10px;
    transition-duration: 0.5s;
}

nav a:hover{
    background-color: var(--cor3);
    color:var(--cor5);
    border-radius: 5px;
    padding:10px;
    text-decoration: underline;
}

/*      Conteudo Principal do site      */

main{
    background-color:  white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding:20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.445);
}

main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-size: 2em;
    font-weight: normal;
}

main h2{
    background-image: linear-gradient(to right, rgb(116, 250, 205), white);
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
    border-radius: 5px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 10px;
    line-height: 1.8em;
    font-size: 1.1em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a{
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    /*precisa transformar em bloco para dar um margin auto, ja que imagem não é em padrão um bloco*/
    display: block;
    margin:auto;
}

/*          Video       */

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% ;
    height: 90% ;
}

/*      Conteudo Periferico      */

aside{
    background-color: var(--cor1);
    padding:10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.507);
}

aside > h3{
    background-color: var(--cor4);
    color:white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;

}



/*      Rodapé           */

footer{
    background-color:var(--cor5);
    padding:5px;
    margin-top: 40px;
    text-align: center;
    color:white;
}
